body {
  padding: 0;
  margin: 0;
}
#sect_1 h1 {
  text-align: center;
  text-transform: uppercase;
  font-style: italic;
  font-weight: bolder;
}
#sect_1 ul a {
  padding: 5px;
  text-decoration: none;
  color: #03A9F4;
}
#sect_1 ul a:hover {
  color: #fff;
  background: #03A9F4;
}
#sect_1 ul a li {
  display: inline;
  font-size: 16px;
}
#sect_2 .references-img .basket-img {
  width: 60px;
  float: right;
}
#example_1 {
  height: 100vh;
  background-image: url(../images/cave_and_sea.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
#example_2 {
  height: 100vh;
  background-image: url(../images/pattern.png);
  background-repeat: repeat;
}
